<section class="section section--fixed">
  <h2 class="sr-only">Colors</h2>
  <ul class="mdc-list mdc-list--colors">
    <li class="mdc-list-item" data-true="true" tabindex="-1">
      <span
        class="mdc-list-item__color mdc-list-item__color--current  mdc-list-item--selected"
        aria-selected="true"
        tabindex="0"
      ></span>
      <span class="mdc-list-item__text">Current color</span>
      <label class="mdc-list-item__color-picker">
        <input
          type="color"
          name="current-color"
          class="color-picker__input"
          tabindex="-1"
        />
        <span class="mdc-list-item__text">Current color</span>
      </label>
    </li>
    <li class="mdc-list-item" tabindex="-1">
      <span class="mdc-list-item__color mdc-list-item__color--previous"></span>
      <span class="mdc-list-item__text">Previous color</span>
    </li>
    <li class="mdc-list-divider" role="separator"></li>
    <li class="mdc-list-item" tabindex="-1">
      <span class="mdc-list-item__color mdc-list-item__color--red"></span>
      <span class="mdc-list-item__text">Red</span>
    </li>
    <li class="mdc-list-item" tabindex="-1">
      <span class="mdc-list-item__color mdc-list-item__color--blue"></span>
      <span class="mdc-list-item__text">Blue </span>
    </li>
  </ul>
</section>
