<section class="section section--fixed">
  <h2 class="sr-only">Tools</h2>
  <ul class="mdc-list mdc-list--tools" role="listbox">
    <li class="mdc-list-item" tabindex="0" role="option">
      <span class="mdc-list-item__graphic material-icons" aria-hidden="true"
        >format_paint</span
      >
      <span class="mdc-list-item__text">Fill bucket</span>
    </li>
    <li class="mdc-list-item" role="option">
      <span class="mdc-list-item__graphic material-icons" aria-hidden="true"
        >colorize</span
      >
      <span class="mdc-list-item__text">Choose color</span>
    </li>
    <li class="mdc-list-item mdc-list-item--selected" role="option">
      <span class="mdc-list-item__graphic material-icons" aria-hidden="true"
        >create</span
      >
      <span class="mdc-list-item__text">Pencil</span>
    </li>
    <li class="mdc-list-item" role="option">
      <span class="mdc-list-item__graphic material-icons" aria-hidden="true"
        >clear</span
      >
      <span class="mdc-list-item__text">Clear</span>
    </li>
    <li class="mdc-list-item" role="option">
      <span class="mdc-list-item__graphic material-icons" aria-hidden="true"
        >linear_scale</span
      >
      <span class="mdc-list-item__text">Stroke</span>
    </li>
    <li class="mdc-list-item" role="option">
      <span class="mdc-list-item__graphic material-icons" aria-hidden="true"
        >layers_clear</span
      >
      <span class="mdc-list-item__text">Eraser</span>
    </li>
  </ul>
</section>
