<div class="canvas__buttons">
  <div class="mdc-text-field mdc-text-field--with-leading-icon">
    <i class="material-icons mdc-text-field__icon">search</i>
    <input
      class="mdc-text-field__input town-input"
      id="text-field-hero-input"
    />
    <div class="mdc-line-ripple"></div>
    <label for="text-field-hero-input" class="mdc-floating-label">Moscow</label>
  </div>
  <button class="mdc-button mdc-button--raised btn--load-img">
    <div class="mdc-button__ripple"></div>
    <span class="mdc-button__label">Load</span>
  </button>
</div>
