<section class="main-layout__keyboard-shortcuts section section--fixed">
  <h3>Keyboard shortcuts</h3>
  <ul class="mdc-list mdc-list--tools mdc-list--non-interactive" role="listbox">
    <li class="mdc-list-item" tabindex="0" role="option">
      <span class="mdc-list-item__graphic material-icons" aria-hidden="true"
        >format_paint</span
      >
      <span class="mdc-list-item__text">F</span>
    </li>
    <li class="mdc-list-item" role="option">
      <span class="mdc-list-item__graphic material-icons" aria-hidden="true"
        >colorize</span
      >
      <span class="mdc-list-item__text">G</span>
    </li>
    <li class="mdc-list-item" role="option">
      <span class="mdc-list-item__graphic material-icons" aria-hidden="true"
        >create</span
      >
      <span class="mdc-list-item__text">P</span>
    </li>
    <li class="mdc-list-item" role="option">
      <span class="mdc-list-item__graphic material-icons" aria-hidden="true"
        >clear</span
      >
      <span class="mdc-list-item__text">C</span>
    </li>
    <li class="mdc-list-item" role="option">
      <span class="mdc-list-item__graphic material-icons" aria-hidden="true"
        >linear_scale</span
      >
      <span class="mdc-list-item__text">S</span>
    </li>
    <li class="mdc-list-item" role="option">
      <span class="mdc-list-item__graphic material-icons" aria-hidden="true"
        >layers_clear</span
      >
      <span class="mdc-list-item__text">E</span>
    </li>
    <li class="mdc-list-divider" role="separator"></li>
    <li class="mdc-list-item" role="option">
      <span class="mdc-list-item__graphic material-icons" aria-hidden="true"
        >replay</span
      >
      <span class="mdc-list-item__text">1 (previous color)</span>
    </li>
    <li class="mdc-list-item" tabindex="-1">
      <span class="mdc-list-item__color mdc-list-item__color--red"></span>
      <span class="mdc-list-item__text">2</span>
    </li>
    <li class="mdc-list-item" tabindex="-1">
      <span class="mdc-list-item__color mdc-list-item__color--blue"></span>
      <span class="mdc-list-item__text">3 </span>
    </li>
  </ul>
</section>
