html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.body {
  margin: 0;

  font-family: Roboto, sans-serif;
}

.main {
  padding-top: 100px;

  &-layout {
  }
}

.sr-only {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;

  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}
